<!DOCTYPE html>
<html>
  <%-partial('_partial/head') %>
  <body>
    <%-partial('_partial/header') %>
    <main class="main">
      <%-body%>
    </main>
    <%-partial('_partial/footer') %>
    <a href="#top" class="back-to-top" id="back-to-top"><img src="/img/top.png" width="32px" height="32px"></a>
    <script type="text/javascript">
    	if (document.documentElement.clientHeight >= document.documentElement.offsetHeight) {
			document.getElementById('back-to-top').style.display = "none";
		}
    </script>
  </body>
</html>