::-webkit-scrollbar  
{  
    width: 6px;  
    height: 6px;
    background-color: #F5F5F5;  
}

::-webkit-scrollbar-thumb
{
    background-color: #555;
}

body {
	margin: 0;
	line-height: 150%;
}

a {
	text-decoration:none;
    color: #555;
}

.header {
	border-top: 3px solid #222;
}

.blog-header {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.blog-menu {
	text-align: center;	
	background: #fafafa;
	padding: 10px;
}

.blog-menu-item {
	display: inline;
	margin-left: 50px;
	margin-right: 50px;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 100;
    font-size: 48px;
}

.blog-title a, .blog-title a:hover {
    color: rgba(80, 80, 80, 1);
}

.footer {
    margin-top: 10px;
    background: #f5f5f5;
    text-align: center;
    color: #666;
}

.blog-footer-container {
    color: #afaaaa;
    padding-top: 15px;
    padding-bottom: 10px;
} 

.blog-copyright a {
    border-bottom: 1px solid #555;
}

.blog-poweredby, .blog-theme-info {
    color: #afaaaa;
    display: inline;
}

.back-to-top {
    width: 32px;
    height: 32px;
    position: fixed;
    right: 30px;
    bottom: 15px;
}

pre, code {
  font-family: "PingFang SC", consolas, Menlo, "Microsoft YaHei", monospace;
}

code {
    padding: 2px 4px;
    word-wrap: break-word;
    color: #555;
    background: #eee;
    border-radius: 3px;
    font-size: 13px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e2e2e2;
    width: 100%;
}

table th {
    white-space: nowrap;
    color: #444;
    font-weight: 600;
    background: #eee;
}

table td, table th {
    border: 1px solid #e2e2e2;
    padding: 8px 16px;
    text-align: left;
}

.posts {
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #fafafa;
    padding: 2px;
}

.post {
    margin-top: 8px;
    margin-bottom: 10px;
    border: 1px solid #e2e2e2;
    padding: 8px;
}

.post-title {
    margin-top: 12px;
    text-align: center;
}

.post-title a {
    font-size: 2em;
    color: #555;
    border-bottom:1px solid #555;
}

.post-meta {
    color: #999;
    text-align:center
    padding-top: 15px;
}

.post-read-more {
    text-align: center;
}

.post-read-more a {
    border-bottom: 1px solid #555;
}

.page-nav {
    text-align: center;
}

.page-number {
    padding: 16px;
}

.current {
    color: #110000;
}