<footer class="footer">
    <div class="blog-footer-container">
        <div claas="blog-copyright">
            Copyright weafung.
        </div>
        <div class="blog-powerby">
            Powered by Hexo.
        </div>
        <div class="blog-theme-info">
            Theme breeze.
        </div>
    </div>
</footer>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript" src="/js/main.js"></script>
