<footer class="footer" id="footer">
    <div class="blog-footer-container">
        <div class="blog-copyright">
            Copyright © <a href="<%=config.url%>"><%=config.author%></a>
        </div>
        <div class="blog-poweredby">
            由 <a href="https://hexo.io">Hexo</a> 强力驱动
        </div>
        -
        <div class="blog-theme-info">
            主题 <a href="https://github.com/weafung/hexo-theme-breeze">Breeze</a>
        </div>
    </div>
</footer>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript" src="/js/main.js"></script>
